html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    height: 100%;
    margin: 0;
}
.navbar {
    padding: 0;
}
.member-btn-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
}
.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
}
.custom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
}
.brand-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-container .thumbnail {
    width:45px;
}

.brand-container .logo {
    font-size: 20px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-line {
    width: 2px;
    height: 100%;
    min-height: 20px;
    background-color: grey;
}
.h-line {
    height: 2px;
    width: 100%;
    min-width: 20px;
    background-color: grey;
}
.h-line-grey {
    height: 2px;
    width: 100%;
    min-width: 20px;
    background-color: lightgray;
}

.line-clamp-1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
}
.sm-title {
    font-family: sans-serif;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
}
.search-input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    border-bottom: 2px solid grey;
    width: 0;
    line-height: 30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#search-icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: white;
    color:grey;
    text-decoration:none;
    outline:none;
}

.login-btn {
    background-color: white;
    border: 2px solid green;
    color: green !important;

    font-family: sans-serif;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 10px;
}
.register-btn {
    background-color: green;
    border: 2px solid green;
    color: white !important;

    font-family: sans-serif;
    font-weight: bold;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 10px;
}

.content-container {
    padding: 0 20px ;
}

/* START OF PLANT CARD STYLES */
.plant-card{ 
    display:flex;
    flex-direction: column;

    min-width: 250px;
    min-height: 450px;
    width: 250px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    background-color:white;
    
    transition: all .2s; 

    text-decoration:none;
    color:inherit;
    cursor: pointer;
}
.plant-card:hover, .plant-card:visited, .plant-card:link, .plant-card:active {
    text-decoration:none;
    color:inherit;
}
.plant-card:hover {
    transform: scale(1.1);
}
.plant-card .plant-image {
    height: 250px;
    width: 250px;
}
.plant-card .plant-image img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.plant-content-container {
    display: flex;
    max-height: 100%;
    background-color:cyan;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.plant-content {
    padding: 0 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.plant-card .name {
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    color: black;
    font-style: italic;
    overflow: hidden;
    padding: 10px 0;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.plant-card .detail {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.plant-card .detail .detail-content {
    text-align:center
}

.plant-card .detail .detail-content .desc {
    font-size: 20px;
}

.plant-card .price {
    display: flex;
    justify-content:center;
    align-items:center;
    height:100%;
    font-size: 25px;
    font-weight:bold;
    text-align:center;
}

/* END OF PLANT CARD STYLES */

/* START OF BREADCRUMB STYLES */
.custom-breadcrumb { 
    display: flex;
    flex-wrap: wrap;
    padding: 10px 16px;
    align-items: center;
}
.custom-breadcrumb .separator {
    color:grey;
}
.custom-breadcrumb-item { 
    display: flex;
    padding: 10px 16px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}
.custom-breadcrumb-item:hover, 
.custom-breadcrumb-item:visited, 
.custom-breadcrumb-item:link, 
.custom-breadcrumb-item:active {
    text-decoration:none;
    color:inherit;
}
.custom-breadcrumb-item:last-child{
    color:black;
}
/* END OF BREADCRUMB STYLES */

/* START OF BUTTON STYLES */
.btn {
    background-color:orange ;
    padding: 10px 20px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;;
}
.btn:hover {
    background-color:rgb(241, 68, 0);
    color:white;
}
/* END OF BUTTON STYLES */

/* START OF BLANK FOOTER */
.blank-footer {
    height: 300px;
    width: 100%;
    background-color: green;
}
/* END OF BLANK FOOTER */