.history-item {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

.history-date {
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    background-color: green;
}

.history-total {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    font-size: 30px;
    color: black;
}